<!-- TOP HEADER -->
<div id="top-header">
  <div class="container d-flex justify-content-center ">
    <ul class="header-links pull-left">
      <li class="px-3 py-2"><a routerLink="/home" routerLinkActive="Active"><i class="fa fa-phone"></i>(+57) 601 770 29
          00</a></li>
      <li class="px-3 py-2"><a routerLink="/home" routerLinkActive="Active"><i class="fa fa-envelope-o"></i>
          aldeamostore@email.com</a></li>
      <li class="px-3 py-2"><a routerLink="/home" routerLinkActive="Active"><i class="fa fa-map-marker"></i> Colombia
          Bogota</a></li>
    </ul>
    <ul class="header-links pull-right">
      <li class="px-3 py-2"><a routerLink="#"><i class="fa fa-dollar"></i> USD</a></li>
      <li class="px-3 py-2"><a routerLink="/user/login"><i class="fa fa-user-o"></i> Mi Cuenta</a></li>
    </ul>
  </div>
</div>
<!-- /TOP HEADER -->

<!-- MAIN HEADER -->
<div id="header">
  <!-- container -->
  <div class="container-fluid">
    <!-- row -->
    <div class="row">
      <!-- LOGO -->
      <div class="col-md-3 d-flex justify-content-center">
        <div class="header-logo">
          <a href="#" class="logo aling-content-center">
            <img src="/assets/img/logo2.png" alt="">
          </a>
        </div>
      </div>
      <!-- /LOGO -->

      <!-- SEARCH BAR -->
      <div class="col-md-6 d-flex justify-content-center">
        <div class="header-search w-100">
          <form>
            <select class="input-select">
              <option value="0">Todas las categorías</option>
              <option value="1">Category 01</option>
              <option value="1">Category 02</option>
            </select>
            <input class="input" placeholder="¿Qué está buscando?" style="width:45% ;">
            <button class="search-btn ml-2">Busqueda</button>
          </form>
        </div>
      </div>
      <!-- /SEARCH BAR -->

      <!-- ACCOUNT -->
      <div class="col-md-3 d-flex justify-content-center">
        <div class="header-ctn  d-flex">
          <!-- Wishlist -->
          <div>
            <a href="#">
              <i class="fa fa-heart-o"></i>
              <span>Tu lista de deseos</span>
              <div class="qty">2</div>
            </a>
          </div>
          <!-- /Wishlist -->

          <!-- Cart -->
          <div>
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <span>Mi Bolsa</span>              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn">shopping_cart
                </mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div class="p-3 divide-y divide-solid">
                  <div class="pb-3 flex justify-between">
                    <span class="mr-16">{{itemsQuantity}} Productos</span>
                    <a routerLink="cart">Ver Bolsa</a>
                  </div>
                  <div *ngIf="cart.items.length" class="py-3">
                    <!--Con esto separo doy separacion al texto de 1 Items de del nombre del producto-->
                    <div *ngFor="let item of cart.items" class="flex justify-between font-ligth mb-2">
                      {{item.name}} * {{item.quantity}}
                      <span class="font-bold">{{ item.price | currency:'cop'}}</span>
                      <!--Se utiliza {{}} para angular expresión y aqui coloco el precio del ITEM el currency agrega la moneda local por defecto dolar yo agregue lps-->
                    </div>
                  </div>

                  <!--aqui mostramos el resumen total de los productos-->
                  <div class="flex justify-between py-3 font-light">
                    <!--Con esto separo el texto de total de la cajita de arriba que es donde termina el producto-->
                    Total:
                    <span class="font-bold">{{ getTotal(cart.items) | currency: 'cop'}}</span>
                  </div>

                  <!--con esto coloco el icono para remover productos del carrito-->
                  <div class="pt-3 flex justify-between">
                    <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
                      <mat-icon>remove_shopping_cart</mat-icon>
                    </button>
                    <button routerLink="cart" class="bg-green-600 text-white rounded-full w-9 h-9">
                      <mat-icon>shopping_cart</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-menu>
            </a>


          </div>
          <!-- /Cart -->

          <!-- Menu Toogle -->
          <div class="menu-toggle">
            <a href="#">
              <i class="fa fa-bars"></i>
              <span>Menu</span>
            </a>
          </div>
          <!-- /Menu Toogle -->
        </div>
      </div>
      <!-- /ACCOUNT -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- /MAIN HEADER -->
