<div class="product m-5" style="height: 350px;">
  <mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}" style="height:340px ;">
      <mat-card-header style="display: inline-block;">
        <div class="product-img">
          <img class="d-block h-[100px]" [ngClass]="{ 'h-[100px]': !fullWidthMode, 'h-[260px]': fullWidthMode }"
          [src]="product.image" />
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="product-body">
          <h4 class="product-price">{{ product.price | currency:"$US "}} / <del class="product-old-price">{{ (product.price + (product.price *0.20)) | currency:"$US "}}</del> </h4>
          <p class="product-category">{{product.category}}</p>
          <p class="truncate hover:whitespace-normal">{{product.title}}</p>
          <p *ngIf="fullWidthMode">{{product.description}}</p>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div class="add-to-cart">
          <button (click)="onAddToCart()" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
        </div>
      </mat-card-footer>
  </mat-card>
</div>
